<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calorie-calculator.css') }}">
    <title>CoreConnect Calorie Calculator</title>
</head>
<body>
    <h1>Calorie Calculator</h1>
    <form id="calorieForm">
        <label for="weight">Weight (kg):</label>
        <input type="number" id="weight" required>
        <br>

        <br>
        <label for="height">Height (cm):</label>
        <input type="number" id="height" required>
        <br>

        <br>
        <label for="age">Age:</label>
        <input type="number" id="age" required>
        <br>
        
        <br>
        <label for="gender">Gender:</label>
        <select id="gender" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <br>
        
        <br>
        <label for="activity">Activity Level:</label>
        <select id="activity" required>
            <option value="1.1">Sedentary</option>
            <option value="1.3">Lightly Active</option>
            <option value="1.5">Moderately Active</option>
            <option value="1.7">Very Active</option>
        </select>
        <br>
        
        <br>
        <h2>Physical Activity Levels</h2>
        <table>
            <thead>
                <tr>
                <th>Lifestyle</th>
                <th>Description</th>
                <th>PAL Level</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                <td>Sedentary</td>
                <td>Little to no activity, desk bound</td>
                <td>1.1</td>
                </tr>

                <tr>
                <td>Light Active</td>
                <td>
                    Light activity, some of the day standing and walking
                </td>
                <td>1.3</td>
                </tr>

                <tr>
                <td>Moderately Active</td>
                <td>
                    Moderate activity levels, on feet most of the day, shelf stacking, street sales people etc
                </td>
                <td>1.5</td>
                </tr>

                <tr>
                <td>Very Active</td>
                <td>
                    Hard daily activity, working long days on building site
                </td>
                <td>1.7+</td>
                </tr>
            </tbody>
        </table>

        <br>
        <button type="submit">Calculate</button>
    </form>

    <h2 id="result"></h2>

    <script src="{{ url_for('static', filename='js/calorie-calculator.js') }}"></script>
</body>
</html>
