<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>CoreConnect Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
</head>
<body>
    <div class="header">
      <h1>CoreConnect</h1>
      <p>Your personal fitness companion</p>
    </div>
  
    <div class="main-container">
      <div class="image-side">
        <img src="https://e7.pngegg.com/pngimages/888/817/png-clipart-exercise-emoji-physical-fitness-weight-training-olympic-weightlifting-weightlifting-hand-sport.png" alt="Fitness">
      </div>
      <div class="form-side">
        <h2>Login to Continue</h2>
        <form action="{{ login_reference }}" method="POST" id="loginForm">
          <input type="text" id="username" name="username" placeholder="Username" required />
          <input type="password" id="password" name="password" placeholder="Password" required />
          <button type="submit">Enter</button>
          <div id="errorMsg"></div>
        </form>
      </div>
    </div>
  
    <script src="{{ url_for('static', filename='js/login.css') }}"></script>
  </body>
</html>
