<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/workout-tracker.css') }}">
    <title>CoreConnect Workout Tracker</title>
</head>
<body>
    <a href="{{ url_for('dashboard') }}" class="back-button">← Back to Dashboard</a>
    <h1>Workout Tracker</h1>
    <form id="workoutForm" method="POST", action="">
        <label for="exercise">Exercise Name:</label>
        <input type="text" id="exercise" name="exercise" required>
        <br><br>
    
        <label for="repetitions">Repetitions:</label>
        <input type="number" id="repetitions" name="repetitions" required>
        <br><br>

        <label for="weight">Amount of weight:</label>
        <input type="number" id="weight" name="weight" required>
        <br><br>
    
        <label for="intensity">Intensity:</label>
        <select id="intensity" name="intensity" required>
            <option value="low">Low</option>
            <option value="moderate">Moderate</option>
            <option value="high">High</option>
        </select>
        <br><br>
    
    
        <h2>Workout Intensity Guide</h2>
        <table>
            <thead>
                <tr>
                    <th>Intensity</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Low</td>
                    <td>Light effort, easy to talk while exercising</td>
                </tr>
                <tr>
                    <td>Moderate</td>
                    <td>Increased heart rate, can talk but not sing</td>
                </tr>
                <tr>
                    <td>High</td>
                    <td>Very hard effort, difficult to talk</td>
                </tr>
            </tbody>
        </table>
    
        <br>
        <button type="submit">Log Workout</button>
    </form>
    
    <h2 id="workoutResult"></h2>
</body>
<html>
